.main-header
    background-image: url(../img/logo.png)
    background-size: cover
    height: 170px
    #titlelink
        position: relative
        float: left
        display: block
        z-index: 10
        top: 0px
        left: 0px
        width: 350px
        height: 170px
        background-color: transparent
    .social-box
        bottom: -80px
        left: 200px
        margin-bottom: 10px
.social-mobile-box
    +hidden-desktop()
.mobile-header
    display: none
    +hidden-desktop()
    margin-bottom: 10px
    background-color: #be1e2d
    height: 50px
    text-align: center
    padding-top: 7px
    padding-bottom: 5px
.search-box
    bottom: -112px
    left: 30px
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
    font-size: 14px
