.marquee-section
  margin-bottom: 5px

  .marquee
    background: #eaeaea
    display: inline-block
    height: 28px
    max-height: 28px
    overflow: hidden
    padding: 4px 0

    a
      color: #585858
      text-decoration: none

    .separator
      color: $red

  .title
    background: $red
    color: #fff
    display: inline-block
    font-weight: 900
    padding: 4px 0
    text-align: center
    text-transform: uppercase
    @media (max-width: $desktop-break)
      font-size: 10px
      padding: 7px 0

