
.noticiasanteriores-item
    padding: 0px 10px 0px 0px

.noticiasanteriores
    .thumbnail
        height: 200px
        border-radius: 0px
        border-top: none
        border-right: none
        border-left: none
    a
        display: block
.noticiasanteriores-item img
    margin: 0px !important

.noticiasanteriores .ucard
    height: auto

.noticiasanteriores-container
    padding-top: 40px
    // .owl-controls
    .owl-nav
        position: absolute
        width: 100%
        top: 0
        margin-top: -5px
        width: 100%
        display: block
        & [class*=owl-]
            padding: 6px 11px
            margin: 10px
            background: rgba(255,0,0,0.45)
            -webkit-border-radius: 32px
            -moz-border-radius: 32px
            border-radius: 32px
            color: #fff
            font-size: 14px
            &:hover
                background: rgba(255,0,0,1)
        .owl-prev
            float: left
        .owl-next
            float: right
